* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
    opacity: 20%;
}

section {
    width: 100%;
    float: left;
    border: 8px solid white;
}

section p {
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
    opacity: 20%;
}

section p:hover {
    opacity: 50%;
}

section img {
    display: block;
    margin: 0 auto 24px auto;
}

div.topo {
    height: 24px;
    background: #000;
    color: #fff;
}

div.vazio {
    height: 600px;
    padding-top: 120px;
    background: #000;
    color: #fff;
    box-align: center;
}

div.reasons {
    height: 600px;
    padding-top: 120px;
    background: #252525;
    color: #fff;
}

div.clouds {
    height: 600px;
    padding-top: 120px;
    background: #fff;
    color: #000;
}

.timestamp p {
    font-size: 12px;
    writing-mode: vertical-rl;
    float: left;
    margin: 10% 0 10% 1%;
}