* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
    opacity: 20%;
}

p {
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
    opacity: 20%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 300vw;
}

p:hover {
    opacity: 50%;
}

.slide {
    width: 100vw;
    height: 100vh;
}

.vazio {
    background-image: url("img/1-vazio.png");
    background-size: contain;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.reasons {
    background-image: url("img/2-reasons.png");
    background-size: contain;
    background-color: #252525;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.clouds {
    background-image: url("img/4-clouds.png");
    background-size: contain;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    color: #000;
}

.timestamp p {
    font-size: 12px;
    writing-mode: vertical-rl;
    float: left;
    margin-top: 40vh;
}